/* src/global.css */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --background-color: #EBE8FF;;
    --text-color: #333;
    --font-family: 'Cabin', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1040px;
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
  }
